body{
    background:url(3.jpg);
    background-size:cover;
    color:black;
}
.title{
    height:50px;
    width:300px;
    float:left;
    margin-left:200px;
    margin-top:40px;
   
}
.title p{
    font-size:30px;
    font-style:bold;
    margin-top:30px;
}
.description{
    height:300px;
    width:300px;
    color:black;
    float:left;
    margin-left:50px;
    font-size:20px;
    margin-top:60px;
   
}
.content ul li{
    float:left;
    padding:20px;
    color:white;
    list-style: none;
}
